.float-center {
    float: none;
}

textarea {
    resize: vertical;
}

label.radio {
    padding-left: 7%;
}

.table-body {
    margin-right: 30%;
    margin-left: 30%;
}

.padded-table-body {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10px;
}

.large-table {
    margin-right: 2%;
    margin-left: 2%;
}

.spacing {
    margin-top: 10px;
}

.red {
    color: red;
}

.error {
    font-weight: bold;
}

#stats-form {
    display: flex;
}

#stats-form button {
    margin-left: 5px;
    height: 100%;
}

.label-spacer {
    margin-left: 5px;
    margin-right: 5px;
}

.super-padded {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

.sorta-padded {
    margin-left: 35%;
    margin-right: 35%;
}

.table-account {
    text-align: center;
}

.custom-checkbox {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #DDD;
}

.custom-checkbox:checked {
    background: #777;
}

.td-checkbox {
    text-align: right;
    vertical-align: middle;
}

.register-table {
    width: 100%;
}

div#center {
    text-align: center;
}