.float-center {
    float: none;
}

textarea {
    resize: vertical;
}

label.radio {
    padding-left: 7%;
}

.table-body {
    margin-right: 30%;
    margin-left: 30%;
}

.padded-table-body {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10px;
}

.large-table {
    margin-right: 2%;
    margin-left: 2%;
}

.spacing {
    margin-top: 10px;
}

.red {
    color: red;
}

.error {
    font-weight: bold;
}

#stats-form {
    display: flex;
}

#stats-form button {
    margin-left: 5px;
    height: 100%;
}

.label-spacer {
    margin-left: 5px;
    margin-right: 5px;
}

.super-padded {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

.table-account {
    text-align: center;
}