<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="/static/css/general.css"
          th:href="@{/css/general.css}" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body background="/img/paper_2.png">
<center>
    <div class="padded-table-body">
        <div>
            <h3>Users (Sorted By Last Name)</h3>
        </div>
        <div th:each="user : ${users}">
            <span th:if="${user.type} == 'ADMIN'">ADMIN - </span>
            <a th:href="'/respect/admin/user/' + ${user.id}" th:text="${user.refereeId.firstName} + ' ' + ${user.refereeId.lastName}"></a>
            <span th:if="${user.approved} == false"> - Account not yet approved!</span>
        </div>
    </div>
</center>
</body>
</html>