<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="/css/general.css"
          th:href="@{/css/general.css}" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <div th:replace="fragments/navigation-header :: nav-header" />
</head>
<body background="/img/paper_2.png">
    <center>
        <div class="padded-table-body">
            <div>
                <h3>Account Information</h3>
            </div>
            <div>
                <span th:text="'Name: ' + ${user.refereeId.firstName} + ' ' + ${user.refereeId.lastName}" />
            </div>
            <div>
                <span th:text="'Email: ' + ${user.email}" />
            </div>
            <div>
                <span th:text="'Validated: ' + ${user.validated}" />
            </div>
            <div th:if="${user.validated} == false">
                <span th:text="'Validation Code: ' + ${user.validationCode}" />
            </div>
            <div>
                <span th:text="'Level: ' + ${user.refereeId.level}" />
            </div>
            <div>
                <span th:text="'Account Type: ' + ${user.type}" />
            </div>
            <div>
                <span th:text="'Created: ' + ${user.created}" />
            </div>
            <div>
                <span th:text="'Approved: ' + ${user.approved}" />
            </div>
            <div>
                <span th:text="'Remind: ' + ${user.remind}" />
            </div>
        </div>

        <div class="padded-table-body">
            <div>
                <h3>Actions</h3>
            </div>
            <div>
                <a th:href="'/respect/admin/reports/user/' + ${user.id}">View All Reports From User</a>
            </div>
            <div>
                <a th:if="${user.approved} == false" th:href="'/respect/admin/user/approve/' + ${user.id}">Approve</a>
                <a th:if="${user.approved} == true" th:href="'/respect/admin/user/disapprove/' + ${user.id}">Disapprove</a>
            </div>
            <div>
                <a th:if="${user.validated} == false" th:href="'/respect/admin/user/validate/' + ${user.id}">Validate Email</a>
                <a th:if="${user.validated} == true" th:href="'/respect/admin/user/invalidate/' + ${user.id}">Invalidate Email</a>
            </div>
            <div>
                <a th:if="${user.type} == 'DEFAULT'" th:href="'/respect/admin/user/make-admin/' + ${user.id}">Make Admin</a>
            </div>
            <div class="spacing" />
            <div class="sorta-padded">
                <form th:action="'/respect/admin/user/change-password/' + ${user.id}" method="post" th:object="${passwordUpdateDto}">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="confirm-password" class="sr-only">Confirm Password</label>
                        <input type="password" id="confirm-password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required="required" />
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
                </form>
            </div>
            <div class="spacing" />
            <div>
                <a th:href="'/respect/admin/user/delete/' + ${user.id}" class="red">Delete Account</a>
            </div>
        </div>
    </center>
</body>
</html>