<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="/css/general.css"
          th:href="@{/css/general.css}" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <div th:replace="fragments/navigation-header :: nav-header" />
</head>
<body background="/img/paper_2.png">
    <div class="padded-table-body">
        <table>
            <tr><td><a href="/respect/admin/users">Users/Referees</a></td></tr>
        </table>
    </div>
</body>
</html>