<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stats - Competition</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="/css/general.css"
          th:href="@{/css/general.css}" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <div th:replace="fragments/navigation-header :: nav-header" />
</head>
<body background="/img/paper_2.png">
    <div class="padded-table-body">
        <h1 th:text="${tableData.competitionAndOrLeagueName}"></h1>
        <h3>Average <span th:text="${tableData.statName}" /> score for competition/division: <span th:text="${tableData.competitionAverage}" /></h3>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Average Score</th>
                    <th>Num Reports</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teamAverage : ${tableData.teamAverages}">
                    <td> <a th:text="${teamAverage.key.name}" th:href="'/stats/team/' + ${teamAverage.key.id}"/> </td>
                    <td th:text="${teamAverage.value}" />
                    <td th:text="${tableData.teamReportNums('__${teamAverage.key.name}__')}" />
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>